@font-face {
  font-family: "Calculator";
  src: url("../fonts/Calculator.ttf") format("truetype");
}

:root {
  --color1: cadetblue;
  --color2: lightblue;
  --color3: grey;
  --color4: darkgrey;
  --color5: skyblue;

}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

body, html, .App {
  height: 100vh;
  width: 100vw;
}

button {
  border:none;
  cursor: pointer;

  &:hover {
    color: black;
   }
}

footer {
  margin: 1rem;
}

main {
  position: relative;

  height: 50rem;
  width: 30rem;

  margin: 0 auto;

  background-color: black;
  border: black .5rem solid;
  box-sizing: content-box;

  transform: translateY(-50%);
  top: 50%;
}

/* Classes */
.App {
   text-align: center;
 }
