.interface-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-items: center;
}

.interface-btn {
    width: 3rem;
    height: 3rem;

    font-size: 2rem;
    font-family: monospace;

    color: white;

    background-color: var(--color4);
}