#display {
    height: 3rem;

    color: white;

    padding-right: 1rem;
}

#display-container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: right;

    position: relative;

    font-size: 3rem;
    font-family: "Calculator", monospace;

    width: 100%;
    height: 40%;

    background-color: black;

    padding: 1rem 0 1rem 1rem;

    ul {
        list-style-type: none;
    }
}

#expression {
    min-height: 3rem;

    color: blue;

    word-wrap: break-word;
}

/* TODO float to top? */
#history {
    /* height: 80%; */

    /*font-family: monospace;*/
    font-size: 1.2rem;

    color: orange;

    padding-right: 1rem;

    overflow-y: scroll;
    /*overflow-anchor: auto;*/

    scrollbar-color: orange rgba(128, 128, 128, 0.98);
    scrollbar-width: thin;

    li:last-child {
        font-size: 2rem;
    }
}

#history-anchor {
    height: 1px;
    overflow-anchor: auto;
}