:root {
  --color1: cadetblue;
  --color2: lightblue;
  --color3: grey;
  --color4: darkgrey;
  --color5: skyblue;

}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html, body, .App {
  height: 100vh;
  width: 100vw;
}

main {
  height: 80%;
  width: 50%;

  margin: 0 auto;

  background-color: var(--color1);
}

/* Classes */
.App {
   text-align: center;
 }
